{% trans_default_domain 'FOSUserBundle' %}
{% block content %}

    {% block fos_user_content %}

        <div class="container">
            <form class="form-signin" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <h2 class="form-signin-heading">Réinitialiser votre mot de passe</h2>
                <div class="login-wrap">
                    {% if invalid_username is defined %}
                        <div class="alert alert-danger fade in">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
                            <button type="button" class="close" data-dismiss="alert">
                                <i class="icon-remove"></i>
                            </button>
                        </div>
                    {% endif %}
                    <div class="user-login-info">
                        <input type="text" id="username" name="username" required="required" class="form-control" 
                               placeholder="Pseudo ou Email"/>
                    </div>
                    <button type="submit" class="btn btn-lg btn-login btn-block">
                        <i class="icon-lightbulb"></i>
                        Réinitialiser
                    </button>
                    <div class="registration">
                        <a class="" href="{{ path('fos_user_security_login') }}">
                            Retour au formulaire de connexion
                        </a>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}

{% endblock %}
